.App{
    overflow-x: hidden;
    position: relative;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width:1200px;
    margin: auto;
    gap:10px;
    min-height: 100vh;

    @media screen and (max-width:1280px) {
        padding: 4rem;
    }

    @media screen and (max-width:1028px) {
        padding: 2rem;
    }

    @media screen and (max-width:962px) {
        flex-direction: column;
    }
    
}

.post{
    position: relative;
    width: 48%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @media screen and (max-width:962px) {
        width: 90%;
    }

    .learn-more{
        cursor: pointer;
        font-weight: bolder;
        color: white;
        font-size: x-large;
        position: absolute;
        top:20%;
        left:40%;
        padding: 1rem;
        display: none;
    }
    
    .post-image:hover + .learn-more{
        display: block;
        cursor: pointer;
    }
    
    .post-image{
        max-width: 100%;
        aspect-ratio:5/2;
        cursor: pointer;

        @media screen and (max-width:962px) {
            width: 100%;
        }
    }

    .post-image:hover{
        filter: brightness(30%);
    }

    .post-details{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    .post-title{
        cursor: pointer;
    }

    .post-author{
        display: flex;
        justify-content: space-between;
    }

    
}


.modal-container{
    position: fixed;
    top: 0;
    width:100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7) ;
    display: flex;
    justify-content: center;
    align-items: center;
    .post{
        background-color: white;

        .post-author-modal{
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        .post-image-modal{
            max-width: 100%;
            aspect-ratio:5/2;
            cursor: pointer;
        }
        .author-image{
            img{
                width:50px;
                border-radius: 50%;
            }
        }
        
    }

    .close-btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        color: dimgray;
        font-size: 2rem;

        .close{
            cursor: pointer;
        }
    }

}

